{% load static %}
<link rel="stylesheet" href="{% static 'template_style.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

<!-- 73NW6Y376RB6F42CTBG276BJB -->
<!-- BFNMJF7P2HPKC7YCMR66FVR4M -->
<!-- YB9NCHBD8C2PYGT274CCVFQBY -->
<!-- 8FHHQNR7DBPJDTQH7CPD628RM -->
<!-- 8VCKDN6K6F6P74RX498BCWDBY -->
<!-- NX7WGJWGKKRBTJQQDMPGY96YY -->