{% extends 'partials/main_template.html' %}

{% block title %}{% endblock %}

{% block header %}
    <h2>Login</h2>
{% endblock %}

{% block main %}
<section>
    <form action="{% url 'login' %}" method="post" id="reg_form">
        <section>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" minlength="7">
        </section>
        <section>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" minlength="12">
        </section>
        {% csrf_token %}
        <input type="submit" value="Registration">
    </form>
    <p><i><b id="error_text"></b></i></p>
</section>
{% load static %}
<!-- Scripts here -->
<script>
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').attr('value');
    // Global header for all ajax requests
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': csrfToken
        }
    });
    
    $('#reg_form').on('submit', function (event) {
        event.preventDefault();
        var username = $('#username').val();
        var password = $('#password').val();
        console.log("Username: " + username);
        console.log("Password: " + password);
        $.ajax({
            url: "{% url 'login' %}",
            method: 'POST',
            data: {
                username: username,
                password: password
            },
            success: function(response) {
                console.log('Success:', response);
            },
            error: function(error) {
                var error_text = 'Error: ' + error.responseText;
                console.error(error_text);
                $('#error_text').text(error_text);
            }
        });
    });
</script>
{% endblock %}

{% block footer %}
{% endblock %}